<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('./partial/navbar') %>
  <div class="container">
    <form action="/post/add" method="POST">
      <div class="form-group">
        <label for="title">title</label>
        <input type="text" class="form-control" id="title" name='title'>
      </div>
      <div class="form-group">
        <label for="description">description</label>
        <input type="text" class="form-control" id="description" name='description'>
      </div>
      <div class="form-group">
        <label for="image">image</label>
        <input type="text" class="form-control" id="image" name='image'>
      </div>    
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</html> 