body {
  background: rgb(238,238,238);
  background: linear-gradient(180deg, rgba(238,238,238,1) 11%, rgba(212,255,247,1) 63%);
  background-size: cover;
  min-height: 100vh
}


.cover-container {
  max-width: 60vw;
}

